<div id="contentsWrapper">
<div id="topPage">
  <ul id="slideBtn">
    <li id="btnPrev"><%= image_tag 'btn_slide_prev_01.png', :alt => '左へ', :width => "13", :height => "223" %></li>
    <li id="btnNext"><%= image_tag 'btn_slide_next_01.png', :alt => '右へ', :width => "13", :height => "223" %></li>
  </ul>

<div id="slideContents" class="north">


<ul class="shelfList01 row02">
  <li id="n-2-3"><%= link_to url_for(:controller => 'book_shelf', :action => 'show_shelf_detail', :book_shelf_id => 19) do %><%= image_tag 'list/north/n-2-3.jpg', :alt => "Yuka Tanakaの本棚", :width => "203", :height => "148" %><% end %></li>
  <li id="n-2-4"><%= image_tag 'list/north/n-2-4.jpg', :alt => "", :width => "212", :height => "148" %></li>
  <li id="n-2-5"><%= image_tag 'list/north/n-2-5.jpg', :alt => "", :width => "212", :height => "148" %></li>

  <li id="n-2-10"><%= link_to url_for(:controller => 'book_shelf', :action => 'show_shelf_detail', :book_shelf_id => 14) do %><%= image_tag 'list/north/n-2-10.jpg', :alt => "馮 意欣の本棚", :width => "212", :height => "148" %><% end %></li>
  <li id="n-2-12"><%= link_to url_for(:controller => 'book_shelf', :action => 'show_shelf_detail', :book_shelf_id => 25) do %><%= image_tag 'list/north/n-2-12.jpg', :alt => "谷 貞宏の本棚", :width => "203", :height => "148" %><% end %></li>
</ul>

<ul class="shelfList01 row03">
  <li id="nl-3-1"><%= link_to url_for(:controller => 'book_shelf', :action => 'show_shelf_detail', :book_shelf_id => 7) do %><%= image_tag 'list/north/nl-3-1.jpg', :alt => "久野 恵介の本棚", :width => "203", :height => "148" %><% end %></li>
  <li id="nl-3-2"><%= image_tag 'list/north/nl-3-2.jpg', :alt => "", :width => "203", :height => "148" %></li>
  <li id="nl-3-3"><%= image_tag 'list/north/nl-3-3.jpg', :alt => "", :width => "203", :height => "148" %></li>

  <li id="nr-3-1"><%= image_tag 'list/north/nr-3-1.jpg', :alt => "", :width => "203", :height => "148" %></li>
  <li id="nr-3-2"><%= image_tag 'list/north/nr-3-2.jpg', :alt => "", :width => "203", :height => "148" %></li>
  <li id="nr-3-3"><%= image_tag 'list/north/nr-3-3.jpg', :alt => "", :width => "203", :height => "148" %></li>
</ul>

<ul class="shelfList01 row04">
  <li id="nl-4-2"><%= link_to url_for(:controller => 'book_shelf', :action => 'show_shelf_detail', :book_shelf_id => 3) do %><%= image_tag 'list/north/nl-4-2.jpg', :alt => "池田洋介の本棚", :width => "203", :height => "148" %><% end %></li>
  <li id="nl-4-4"><%= image_tag 'list/north/nl-4-4.jpg', :alt => "", :width => "97", :height => "148" %></li>
  <li id="nl-4-3"><%= image_tag 'list/north/nl-4-3.jpg', :alt => "", :width => "203", :height => "148" %></li>
</ul>

<ul class="shelfList01 row05">
  <li id="nl-5-2"><%= image_tag 'list/north/nl-5-2.jpg', :alt => "", :width => "203", :height => "156" %></li>
  <li id="nl-5-3"><%= image_tag 'list/north/nl-5-3.jpg', :alt => "", :width => "203", :height => "156" %></li>

  <li id="nr-5-1"><%= link_to url_for(:controller => 'book_shelf', :action => 'show_shelf_detail', :book_shelf_id => 17) do %><%= image_tag 'list/north/nr-5-1.jpg', :alt => "福岡 誠の本棚", :width => "203", :height => "156" %><% end %></li>
</ul>
</div><!-- /#slideContents.wrapInner -->

</div><!-- /#topPage.wrapInner -->
</div><!-- /#contentsWrapper -->
