<!DOCTYPE html>
<html lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#">
<head>
  <title>co-ba library online</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="co-ba library online">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="co-ba library online">
  <meta property="og:image" content="http://blog.sinap.jp/res/images/common/OGP.png">
  <meta property="fb:app_id" content="120475414763656">
  <meta property="og:locale" content="ja_JP">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<%# ここらへんのclass切り替えは、テンプレートの機能を使って、もっと綺麗に書けそう。 %>
<% if params[:action] == 'show_north_shelf' %>
  <body class="north">
<% elsif params[:action] == 'show_south_shelf' %>
  <body class="south">
<% elsif params[:action] == 'show_east_shelf' %>
  <body class="east">
<% elsif params[:action] == 'show_west_shelf' %>
  <body class="west">
<% else %>
  <body>
<% end %>


<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<div id="wrapper">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=120475414763656";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <header id="globalHeader">
    <div class="wrapInner">
      <h1>
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', :alt=> "ロゴ名", :width => "192", :height => "53" %>
          <% end %>
        </a>
      </h1>
      <div id="headerRight">
      <ul class="bt crLink">
        <li><%= link_to root_path do %><img src="/assets/nav_east.png" alt="東" width="80" height="81"><% end %></li>
        <li><%= link_to show_south_shelf_path do %><img src="/assets/nav_south.png" alt="南" width="80" height="81"><% end %></li>
        <li><%= link_to show_west_shelf_path do %><img src="/assets/nav_west.png" alt="西" width="80" height="81"><% end %></li>
        <li><%= link_to show_north_shelf_path do %><img src="/assets/nav_north.png" alt="北" width="80" height="81"><% end %></li>
      </ul>
      </div><!-- /#headerRight -->
    </div>
    <!-- /.wrapInner -->
  </header>
  <!-- /#globalHeader -->

  <%= yield %>

  <footer id="globalFooter">
    <div class="wrapInner">
      <p class="copyright">
        <small>Copyright © 2012 tsukuruba inc. All rights reserved.</small>
      </p>
    </div>
    <!-- /.wrapInner -->
  </footer>
  <!-- /#globalFooter -->
</div>
<!-- /#wrapper -->
</body>
</html>
